html {
    color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
    html {
        color: #fff;
        /* text */
        background-color: #202123;
    }
}

@media (prefers-color-scheme: light) {
    html {
        color: #000;
        /* text */
        background-color: #ffffff;
    }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* h1 {
    font-size: 48px;
    color: #e74c3c;
    text-align: center;
    margin-top: 20px;
  }   */

.cookie-container {
    background-image: url('cookie.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
    animation-name: jump;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.cookie-count {
    font-size: 36px;
    /* color: #e74c3c; */
    text-align: center;
    margin-bottom: 20px;
}

.cookie-btn {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.cookie-btn:hover {
    background-color: #c0392b;
}

.small-cookie {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('cookie-small.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    animation-name: fade;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes fade {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.jump {
    animation: jump 0.5s;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}


@keyframes pulse {
    0% {
        background-color: transparent;
    }

    50% {
        background-color: #183a18;
    }

    /* 50% { background-color: #25393e; } */
    100% {
        background-color: transparent;
    }
}

.active-player {
    animation: pulse 5s infinite;
}

.cookie-count {
    font-size: 36px;
    /* color: #b56414; */
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.cookie-count .count {
    font-size: 64px;
    font-weight: bold;
    color: #ffe32f;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    animation: glow 2s infinite;
}

/* .username {
    font-size: 48px;
    font-weight: bold;
    color: #ffcc00;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    animation: bounce 1s infinite;
} */

.username {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #231557 0%,
            #44107a 29%,
            #ff1361 67%,
            #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-weight: bold;
    font-size: 2em;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

@keyframes glow {
    0% {
        text-shadow: 0 0 10px #e74c3c, 0 0 20px #e74c3c, 0 0 30px #e74c3c, 0 0 40px #ffdd00;
    }

    50% {
        text-shadow: 0 0 20px #e74c3c, 0 0 30px #e74c3c, 0 0 40px #ffdd00, 0 0 50px #ffdd00;
    }

    100% {
        text-shadow: 0 0 10px #e74c3c, 0 0 20px #e74c3c, 0 0 30px #e74c3c, 0 0 40px #ffdd00;
    }
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }
}

.subtitle {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
    line-height: 1.2;
    opacity: 50%;
}
